@font-face {
  font-family: "iconfont"; /* Project id 2336880 */
  src: url('iconfont.woff2?t=1625551368211') format('woff2'),
       url('iconfont.woff?t=1625551368211') format('woff'),
       url('iconfont.ttf?t=1625551368211') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshezhi:before {
  content: "\e669";
}

.iconchangecompany:before {
  content: "\e7b2";
}

.iconpassword_:before {
  content: "\e666";
}

.icongongjuxiang_qiehuanzhuti:before {
  content: "\e667";
}

.iconwodejigou:before {
  content: "\e668";
}

.iconfou:before {
  content: "\e6ba";
}

.iconfou-hui:before {
  content: "\e6bc";
}

.iconshi-hui:before {
  content: "\e6be";
}

.iconshi:before {
  content: "\e6c4";
}

.iconshi-hong:before {
  content: "\e6c8";
}

.iconfemale:before {
  content: "\e7a3";
}

.iconmale:before {
  content: "\e7a4";
}

.iconpatient_female:before {
  content: "\e7a5";
}

.iconuser_female:before {
  content: "\e7a6";
}

.iconpatient_male:before {
  content: "\e7a7";
}

.iconuser_male:before {
  content: "\e7a8";
}

.iconopen:before {
  content: "\e7c2";
}

.icontakeup:before {
  content: "\e7ca";
}

.iconexcle1:before {
  content: "\e7d2";
}

.iconppt1:before {
  content: "\e7d3";
}

.icontxt1:before {
  content: "\e7d4";
}

.iconpng1:before {
  content: "\e7d5";
}

.iconword1:before {
  content: "\e7d6";
}

.iconpdf1:before {
  content: "\e7d7";
}

.iconjpg1:before {
  content: "\e7d8";
}

.iconzip:before {
  content: "\e62e";
}

.iconyasuo:before {
  content: "\e82a";
}

.iconrar:before {
  content: "\e63a";
}

.iconfemale_list:before {
  content: "\e653";
}

.iconmale_list:before {
  content: "\e652";
}

.iconjigouguanli:before {
  content: "\e65b";
}

.iconcaidanguanli:before {
  content: "\e65c";
}

.iconjurisdiction:before {
  content: "\e65d";
}

.iconhome:before {
  content: "\e65e";
}

.iconwenhao:before {
  content: "\e65f";
}

.iconrizhiguanli:before {
  content: "\e660";
}

.icontuodong:before {
  content: "\e661";
}

.iconyingyongguanli:before {
  content: "\e662";
}

.iconyiliaoxinxipingtai:before {
  content: "\e663";
}

.iconzidianguanli:before {
  content: "\e664";
}

.iconyonghuguanli:before {
  content: "\e665";
}

.iconadd:before {
  content: "\e810";
}

.icondelete1:before {
  content: "\e777";
}

.iconadd1:before {
  content: "\e776";
}

.iconwrong_line:before {
  content: "\e7e1";
}

.iconnone1:before {
  content: "\e7fd";
}

.iconsearch_none:before {
  content: "\e796";
}

.icontuichudenglu:before {
  content: "\e650";
}

.iconlogo_:before {
  content: "\e805";
}

.iconshulan1:before {
  content: "\e801";
}

.iconshulanyiyuan1:before {
  content: "\e802";
}

.icondelete_1:before {
  content: "\e70b";
}

.iconedit1:before {
  content: "\e7f6";
}

.iconsearch:before {
  content: "\e7cc";
}

.icondone_line:before {
  content: "\e7db";
}

.iconwaring_line:before {
  content: "\e7e3";
}

.iconfoldersopening:before {
  content: "\e7fe";
}

.iconfolder:before {
  content: "\e7ff";
}

.iconrequired:before {
  content: "\e800";
}

.iconmore1:before {
  content: "\e7fb";
}

.iconnews:before {
  content: "\e7bd";
}

.iconmofang1:before {
  content: "\e7c1";
}

.iconspread:before {
  content: "\e7cf";
}

.iconpassword1:before {
  content: "\e7c5";
}

.iconquestion_line:before {
  content: "\e7de";
}

.icondrop_down:before {
  content: "\e7e5";
}

.iconsingleelection_chec_:before {
  content: "\e7ea";
}

.icondeletex3:before {
  content: "\e7e9";
}

.iconsingleelection_norm:before {
  content: "\e7ec";
}

.iconsingleelection_norm_:before {
  content: "\e7ed";
}

.iconsingleelection_chec:before {
  content: "\e7ee";
}

.iconfuxuankuang1:before {
  content: "\e7ef";
}

.iconfuxuankuangxuanzhong1:before {
  content: "\e7f0";
}

.iconsemiselection:before {
  content: "\e7f1";
}

.icongo1:before {
  content: "\e7fa";
}

.icontitle:before {
  content: "\e6d2";
}

.iconuser_1:before {
  content: "\e7af";
}

