//重置ant-design表格样式
.main-table {
  width: 100%;
  height: 100%;
  overflow: auto;
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    overflow-wrap: break-word;
    height: 32px;
    padding: 0;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 10px;
  }
  .ant-table-body {
    /*定义了滚动条整体样式；*/ 
    &::-webkit-scrollbar {
      background: #fafafa;
      box-shadow: 0px 1px 0px 0px #dcdcdc inset, 0px -1px 0px 0px #dcdcdc inset; 
      height: 6px;
      padding: 4px;
    }
    /*定义了轨道的样式*/ 
    &::-webkit-scrollbar-track {
      
      // padding: 3px 4px;
      // background-color:  #C1C1C1;
      // height: 6px;
      // -webkit-border-radius: 3px;
      // -moz-border-radius: 3px;
      // border-radius: 3px;
    }
    /*定义了滚动条滑块的样式*/
    &::-webkit-scrollbar-thumb {
      background-color:  #C1C1C1;
      width: 365px !important;
      margin: 3px 4px;
      border-radius: 3px;
      // border-style: dashed;
      // border-width: 1.5px;
      // background-clip: padding-box;
    }
  }
  .ant-table-thead > tr > th {
    background-color: #ecf6ff;
    .ant-table-column-title {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ant-table-pagination{
    .ant-pagination-item a {
      display: block;
      color: #333;
      transition: none;
      font-size: 12px;
    }
    .ant-pagination-prev,.ant-pagination-item, .ant-pagination-next {
      min-width: 24px;
      height: 24px;
      line-height: 24px;
    }
    .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-prev:focus .ant-pagination-item-link,.ant-pagination-next:hover .ant-pagination-item-link,.ant-pagination-next:focus .ant-pagination-item-link{
      font-weight: 500;
      background: #fff;
      border-color: #06AEA6;
      color: #06AEA6;
    }
    .ant-pagination-item-active,.ant-pagination-item:hover {
      font-weight: 500;
      background: #fff;
      border-color: #06AEA6;
    }
    .ant-pagination-item-active a,.ant-pagination-item:hover a,.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
      color: #06AEA6;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 24px;
      padding: 0 6px;
      .ant-select-selection-item {
        line-height: 22px;
        font-size: 12px;
      }
    }
    .ant-select-arrow {
      top: 46%;
    }
    .ant-select-selection-item {
      line-height: 24px;
    }
    .ant-pagination-total-text {
      font-size: 12px;
      margin: 0 10px;
    }
    .ant-pagination-options {
      margin-left: 0;
    }
    .ant-pagination-item-link .anticon {
      font-size: xx-small;
      vertical-align: 0.04em;
    }
  }
}


