//重置ant-design表格样式
.main-table {
  width: 100%;
  height: 100%;
  overflow: auto;

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    overflow-wrap: break-word;
    height: 32px;
    padding: 0;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 10px;
  }
  // .ant-table-body {
  //   /*定义了滚动条整体样式；*/ 
  //   &::-webkit-scrollbar {
  //     background: #fafafa;
  //     box-shadow: 0px 1px 0px 0px #dcdcdc inset, 0px -1px 0px 0px #dcdcdc inset; 
  //     height: 6px;
  //     padding: 4px;
  //   }
  //   /*定义了轨道的样式*/ 
  //   &::-webkit-scrollbar-track {
      
  //     // padding: 3px 4px;
  //     // background-color:  #C1C1C1;
  //     // height: 6px;
  //     // -webkit-border-radius: 3px;
  //     // -moz-border-radius: 3px;
  //     // border-radius: 3px;
  //   }
  //   /*定义了滚动条滑块的样式*/
  //   &::-webkit-scrollbar-thumb {
  //     background-color:  #C1C1C1;
  //     width: 365px !important;
  //     margin: 3px 4px;
  //     border-radius: 3px;
  //     // border-style: dashed;
  //     // border-width: 1.5px;
  //     // background-clip: padding-box;
  //   }
  // }
  .ant-table-thead > tr > th {
    background-color: #ecf6ff;
    .ant-table-column-title {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ant-pagination-item a {
    display: block;
    color: #999;
    transition: none;
    font-size: 12px;
  }

  
  .ant-pagination-item-active a {
    color: #1890ff;
  }

  .ant-pagination-prev a,.ant-pagination-next a {
    color: #999;
  }

  .ant-table-pagination{
    .ant-pagination-prev,.ant-pagination-item, .ant-pagination-next {
      min-width: 24px;
      height: 24px;
      line-height: 24px;
    }
    // .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-prev:focus .ant-pagination-item-link,.ant-pagination-next:hover .ant-pagination-item-link,.ant-pagination-next:focus .ant-pagination-item-link{
    //   font-weight: 500;
    //   background: #fff;
    //   border-color: #1890ff;
    //   color: #1890ff;
    // }
    // .ant-pagination-item-active,.ant-pagination-item:hover {
    //   font-weight: 500;
    //   background: #fff;
    //   border-color: #1890ff;
    // }
    // .ant-pagination-item-active a,.ant-pagination-item:hover a,.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
    //   color: #1890ff;
    // }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 24px;
      padding: 0 6px;
      .ant-select-selection-item {
        line-height: 22px;
        font-size: 12px;
        color: #999;
      }
    }
    .ant-select-arrow {
      top: 46%;
    }
    .ant-select-selection-item {
      line-height: 24px;
    }
    .ant-pagination-total-text {
      font-size: 12px;
      margin: 0 10px;
      color: #999;
    }
    .ant-pagination-options {
      margin-left: 0;
    }
    .ant-pagination-item-link .anticon {
      font-size: xx-small;
      vertical-align: 0.04em;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 树形图
.left-box {
  .ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before {
    background-color: #fffbe0;
  }
  
  .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper.ant-tree-node-selected, .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: #333;
    background: transparent;
  }
  .ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-switcher, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-switcher {
    color: #333;
  }
  .ant-tree {
    .ant-tree-node-content-wrapper {
      width: calc(100% - 24px);
    }
  }

  .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover::before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:hover::before {
    background-color: #fffbe0;
  }

  .ant-tree-title {
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    span {
        flex:1;
        display: inline-block;  
      }
  }
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  text-align: center;
}

.ant-modal-content {
  .ant-modal-header {
    padding: 0 24px;
    height: 38px;
    background-color: #198EEB;
    .ant-modal-title {
      line-height: 38px;
      color: #fff;
      font-size: 14px;
    }
  }
  .ant-modal-close-x {
    line-height: 38px;
    color: #fff
  }
}


.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: #999999;
    text-align: center;
  }
}


//小弹窗
.ant-modal-body {
  .ant-modal-confirm-body {
    .ant-modal-confirm-title {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
    .ant-modal-confirm-content {
      margin-top: 10px;
      font-weight: 400;
      font-size: 12px;
    }
  }
  & .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns {
    float: left;
    margin-left: 38px;
    margin-top: 18px;
    .ant-btn {
      width: 90px;
      height: 26px;
    }
  }
}

// .ant-modal-close {
//   .ant-modal-close-x {
//     color: rgb(144,144,144);
//   }
// }

.delete-dialog {
  color: #f00;
}

